<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学IT - 后台管理系统</title>
    <?php include('./views/common/style.html') ?>
</head>
<body>
    <?php include('./views/common/aside.html') ?>
    <!-- 主体 -->
    <div class="main">
        <div class="container-fluid">
            <?php include('./views/common/header.html') ?>
            <!-- 修改密码 -->
            <div class="body">
                <div class="repass">
                    <form action="" class="form-horizontal col-md-offset-2">
                        <div class="form-group">
                            <label for="" class="col-md-3 control-label">原密码</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control input-sm">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-md-3 control-label">新密码</label>
                            <div class="col-md-4">
                                <input type="password" class="form-control input-sm">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-md-3 control-label">确认密码</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control input-sm">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-7">
                                <input type="submit" class="btn btn-success btn-sm pull-right" value=" 修 改 ">
                            </div>                          
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <?php include('./views/common/script.html') ?>
</body>
</html>