<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>学IT - 后台管理系统</title>
    <?php include('./views/common/style.html') ?>
    <link rel="stylesheet" type="text/css" href="/public/assets/bootstrap-datepicker/css/bootstrap-datepicker.css">
</head>

<body>
    <?php include('./views/common/aside.html') ?>
        <!-- 主体 -->
        <div class="main">
            <div class="container-fluid">
                <?php include('./views/common/header.html') ?>
                    <!-- 讲师资料 -->
                    <div class="body teacher-profile">
                        <div class="settings" id="profile">
                        </div>
                    </div>
            </div>
        </div>
        <script type="text/template" id="profileForm">
            <form action="" class="form-horizontal">
                <div class="form-group">
                    <input type="hidden" name="tc_id" value="{{tc_id}}">
                    <label for="" class="col-md-3 control-label">姓名</label>
                    <div class="col-md-5">
                        <p class="form-control-static">{{tc_name}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-3 control-label">头像</label>
                    <div class="col-md-2 preview">
                        {{if tc_avatar}}
                            <img src="{{tc_avatar}}">
                        {{else}}
                            <img src="/public/images/default.png">
                        {{/if}}
                        <input type="file" id="upfile">
                        <div class="cover">
                            <i class="fa fa-upload"></i>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-3 control-label">昵称</label>
                    <div class="col-md-5">
                        <input type="text" name="tc_roster" value="{{tc_roster}}" class="form-control input-sm">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-3 control-label">性别</label>
                    <div class="col-md-3">
                        <label class="radio-inline">
                            <input name="tc_gender" type="radio" value="0" {{if tc_gender==0}} checked {{/if}}> 男
                        </label>
                        <label class="radio-inline">
                            <input name="tc_gender" type="radio" value="1" {{if tc_gender==1}} checked {{/if}}> 女
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-3 control-label">出生日期</label>
                    <div class="col-md-5">
                        <input name="tc_birthday" type="text" data-date-language='zh-CN' data-date-format='yyyy-mm-dd' data-provide='datepicker' data- value="{{tc_birthday}}" class="form-control input-sm">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-3 control-label">籍贯</label>
                    <div class="col-md-5 hometown">
                        <select name="tc_province" id="p" data-id='{{tc_province}}' class="form-control input-sm">
                            <option value="">请选择省份</option>
                        </select>
                        <select name="tc_city" id="c" data-id='{{tc_city}}' class="form-control input-sm">
                            <option value="">请选择城市</option>
                        </select>
                        <select name="tc_district" id="d" data-id='{{tc_district}}' class="form-control input-sm">
                            <option value="">请选择县/区</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-3 control-label">手机号码</label>
                    <div class="col-md-5">
                        <input name="tc_cellphone" type="text" value="{{tc_cellphone}}" class="form-control input-sm">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-3 control-label">电子邮箱</label>
                    <div class="col-md-5">
                        <input name="tc_email" type="text" value="{{tc_email}}" class="form-control input-sm">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-3 control-label">入职日期</label>
                    <div class="col-md-5">
                        <input name="tc_join_date" type="text" data-date-language='zh-CN' data-date-format='yyyy-mm-dd' data-provide='datepicker' data- value="{{tc_birthday}}"  value="{{tc_join_date}}" class="form-control input-sm">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-3 control-label">个人介绍</label>
                    <div class="col-md-5 ckeditor">
                        <textarea name="tc_introduce" id="ckeditor" name="" rows="15"  class="form-control input-sm">
                            {{tc_introduce}}
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-8">
                        <input type="submit" class="btn btn-success btn-sm pull-right" value="保 存">
                        <a href="./repass.html" class="btn btn-link btn-sm pull-right">更改密码？</a>
                    </div>
                </div>
            </form>
        </script>
        <?php include('./views/common/script.html') ?>
            <script type="text/javascript">
            require(['js/settings']);
            </script>
</body>

</html>
