<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学IT - 后台管理系统</title>
    <?php include('./views/common/style.html') ?>
    
</head>
<body>
    
    <!-- 侧边栏 -->
    <?php include('./views/common/aside.html') ?>
    <!-- 主体 -->
    <div class="main">
        <div class="container-fluid">
            <!-- 头部 -->
            <?php include('./views/common/header.html') ?>
            <div class="body course-add">
                <!-- 面包屑 -->
                <ol class="breadcrumb">
                    <li><a href="javascript:;">课程管理</a></li>
                    <li class="active">课程添加</li>
                </ol>
                <div class="steps create">
                    <div class="title">
                        <h5>创建课程 <small>CREATE A COURSE</small></h5>
                    </div>
                    <form id="addForm" action="" class="form-horizontal col-md-7">
                        <div class="form-group">
                            <label for="" class="col-md-2 control-label">课程标题</label>
                            <div class="col-md-9">
                                <input type="text" name="cs_name" class="form-control input-sm" placeholder="请填写课程标题">
                            </div>
                        </div>
                        <div class="col-md-11">
                            <input id="" type="submit" value="创建课程" class="btn btn-success btn-sm pull-right">
                        </div>
                    </form>
                    <div class="extra col-md-3">
                        <h5>从视频专辑导入课程</h5>
                        <p>已支持优酷、腾讯视频、网易公开课、爱奇艺教育的视频专辑导入。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <?php include('./views/common/script.html') ?>
    <script type="text/javascript">
        require(['js/course-add']);
    </script>
</body>
</html>